* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*---------------- Navbar -----------------*/

header {
  z-index: 9999;
  position: relative;
}

.nav_bar {
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  transition: 0.1s ease-in;
  height: 80px;
  z-index: 2;
  position: relative;
}

.nav_bar.active {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-color: #fff;
}

.nav_bar>.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1330px;
  width: 100%;
}

.nav_bar>.container>.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_wrapper>.logo {
  display: flex;
  align-items: center;
}

.nav_wrapper>.logo>img {
  width: 36px;
}

.nav_wrapper>.nav_menu {
  transition: 0.1s ease-in;
}

.nav_wrapper>.nav_menu>ul {
  display: flex;
  list-style: none;
  column-gap: 10px;
  margin-bottom: 0;
}

.nav_wrapper>.nav_menu>ul>li>a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
}

.nav_bar.active .nav_wrapper>.nav_menu>ul>li>a {
  color: #284595;
}

.nav_bar.active .nav_wrapper>.nav_menu>ul>li>.nav_link.active {
  color: #6ac403;
}

.nav_wrapper>.icons {
  display: flex;
  column-gap: 20px;
}

.nav_wrapper>.icons>.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav_wrapper>.icons>.icon>.fa-times {
  display: none;
}

.nav_wrapper>.icons>.icon.active>.fa-bars {
  display: none;
}

.nav_wrapper>.icons>.icon.active>.fa-times {
  display: inline;
}

.nav_wrapper>.icons i {
  color: #fff;
  font-size: 20px;
}

.nav_bar.active .nav_wrapper>.icons i {
  color: #284595;
}

.nav_wrapper>.nav_menu {
  position: relative;
}

.offering {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  backdrop-filter: blur(14px) saturate(200%);
  -webkit-backdrop-filter: blur(4px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.754);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.1s ease-in;
}

.offering.active {
  opacity: 1;
  pointer-events: all;
}

.offering>.offering_item {
  width: 200px;
  padding: 20px 10px 10px 10px;
  text-align: center;
}

.offering>.offering_item>a {
  text-decoration: none;
}

.offering>.offering_item>a>p {
  font-size: 16px;
  color: #284595;
  padding-top: 10px;
  margin: 0;
}

.offering>.offering_item>a>img {
  width: 100%;
}

.mobile_menu {
  position: relative;
}

.mobile_menu>ul {
  width: 100%;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s ease-in;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.mobile_menu>ul>li {
  padding: 20px 15px;
  border-bottom: 1px solid #00000015;
}


.mobile_menu>ul>li ul>li {
  display: flex;
  align-items: center;
}

.mobile_menu>ul>li ul>li>a {
  color: #949494;
  margin: 16px 0;
  text-decoration: none;
}

.mobile_menu>ul>li ul>li>a>i {
  font-size: 8px;
  margin-right: 8px;
  color: #6ac403;
}

.mobile_menu>ul>li>a {
  color: #284595;
  text-decoration: none;
  font-size: 18px;
}



#handleHumbergerMenu {
  display: none;
}


.nav_bar.active .nav_wrapper>.logo>span {
  background-image: linear-gradient(45deg, #2d3a8c, #01adee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo>span {
  color: #fff;
  font-size: 28px;
}

main {
  margin-top: -80px;
}

/*---------------- Banner -----------------*/

.btn_round {
  font-size: 18px;
  border: none;
  padding: 4px 16px;
  border-radius: 18px;
  color: #fff;
  background-color: #04a2e5;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  display: inline-block;
  margin-top: 36px;
}

.btn_round:hover {
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: translateY(-2px) scale(1.04);
}

.banner .carousel-item>img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.banner::before {
  content: '';
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
}

.banner .carousel-caption {
  z-index: 1;
}

.banner .carousel-caption>.container {
  z-index: 99;
}

.carousel-caption>.container>.carousel1>h1 {
  color: #fff;
  font-size: clamp(2.5rem, 4vw, 4rem);
  font-weight: 700;
}

.carousel-indicators [data-bs-target] {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 6px;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #fff;
}

.carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: start;
}

.carousel-caption {
  display: flex !important;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.carousel1>h2 {
  font-size: clamp(1.6rem, 4vw, 2.2rem);
  font-style: italic;
  font-weight: 500;
  color: #fff;
  margin-top: 10px;
}

@media (max-width:768px) {
  main {
    margin-top: -60px;
  }

  .nav_bar.activemobile .nav_wrapper>.logo>span {
    background-image: linear-gradient(45deg, #2d3a8c, #01adee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  #offering_items {
    display: none;
  }

  #humberMenu {
    display: none;
  }


  .nav_bar.activemobile {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  .nav_bar {
    background-color: transparent;
  }


  .offering.acitve {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition: opacity 0.1s ease-in;
  }

  .nav_bar .nav_wrapper>.icons i {
    color: #fff;
  }

  #handleHumbergerMenu.active i {
    color: #284595;
  }

  #handleHumbergerMenu {
    display: flex;
  }

  .icons>.icon>.fa-share-alt {
    display: none;
  }

  .nav_wrapper>.nav_menu>ul {
    opacity: 0;
    pointer-events: none;
    position: fixed;
  }

  .nav_bar {
    height: 60px;
  }

  .mobile_menu {
    backdrop-filter: blur(14px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.754);
  }

  .mobile_menu.activemobile>ul {
    opacity: 1;
    pointer-events: all;
    background-color: #fff;
  }
}
